In [ ]:
Import libraries 

import dataset

preprocess 

    feature standardisation

    descriptive stats

    info

    drop/check duplicates

    drop null 

    shape

    monovariate analysis

    bivariate analysis

eda

In [1]:
# import needed libraries
import numpy as pd 
import pandas as pd

In [31]:
# import dataset
# factors affecting downtime
factors = pd.read_csv('datasets/machine_downtime/downtime-factors.csv', sep='|')

# inspect the dataset
factors

    Factor         Description Operator Error
0        1      Emergency stop             No
1        2        Batch change            Yes
2        3      Labeling error             No
3        4  Inventory shortage             No
4        5       Product spill            Yes
5        6  Machine adjustment            Yes
6        7     Machine failure             No
7        8  Batch coding error            Yes
8        9   Conveyor belt jam             No
9       10   Calibration error            Yes
10      11        Label switch            Yes
11      12               Other             No

In [32]:
# line downtime 
line_downtime = pd.read_csv('datasets/machine_downtime/line-downtime.csv', sep='|')
line_downtime

,Batch,Factor 1,2,3,4,5,6,7,8,9,10,11,12
0,Batch,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0
1,422111,NaN,60.0,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN
2,422112,NaN,20.0,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN
3,422113,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,422114,NaN,NaN,NaN,25.0,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN
5,422115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,NaN
6,422116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,422117,NaN,10.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
8,422118,NaN,NaN,NaN,NaN,NaN,14.0,16.0,NaN,NaN,NaN,10.0,20.0
9,422119,NaN,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,422120,NaN,NaN,NaN,20.0,15.0,NaN,NaN,NaN,17.0,NaN,NaN,NaN
11,422121,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN
12,422122,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN
13,422123,NaN,NaN,NaN,43.0,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN
14,422124,NaN,NaN,NaN,NaN,20.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
15,422125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,10.0
16,422126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,NaN,NaN,NaN,NaN
17,422127,NaN,NaN,NaN,NaN,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN
18,422128,NaN,NaN,NaN,NaN,22.0,NaN,30.0,NaN,NaN,NaN,NaN,NaN
19,422129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0
20,422130,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,422131,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN
22,422132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,422133,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN
24,422134,NaN,NaN,NaN,NaN,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN
25,422135,NaN,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0
26,422136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,422137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN,15.0,NaN,NaN
28,422138,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,422139,NaN,NaN,NaN,20.0,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN
30,422140,NaN,NaN,NaN,NaN,NaN,50.0,NaN,NaN,NaN,NaN,13.0,NaN
31,422141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
32,422142,NaN,NaN,NaN,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN
33,422143,NaN,NaN,NaN,NaN,NaN,40.0,18.0,NaN,NaN,NaN,NaN,NaN
34,422144,NaN,NaN,NaN,NaN,NaN,30.0,NaN,24.0,NaN,NaN,NaN,NaN
35,422145,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,422146,NaN,NaN,NaN,NaN,NaN,30.0,25.0,NaN,NaN,NaN,NaN,7.0
37,422147,NaN,NaN,NaN,17.0,NaN,60.0,30.0,NaN,NaN,NaN,NaN,NaN
38,422148,NaN,NaN,NaN,25.0,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN

In [33]:
line_productivity = pd.read_csv('datasets/machine_downtime/line-productivity.csv', sep='|')
line_productivity

          Date Product   Batch Operator Start Time             End Time
0   2024-08-29  OR-600  422111      Mac   11:50:00             14:05:00
1   2024-08-29  LE-600  422112      Mac   14:05:00             15:45:00
2   2024-08-29  LE-600  422113      Mac   15:45:00             17:35:00
3   2024-08-29  LE-600  422114      Mac   17:35:00             19:15:00
4   2024-08-29  LE-600  422115  Charlie   19:15:00             20:39:00
5   2024-08-29  LE-600  422116  Charlie   20:39:00             21:39:00
6   2024-08-29  LE-600  422117  Charlie   21:39:00             22:54:00
7   2024-08-30  CO-600  422118      Dee   04:05:00             06:05:00
8   2024-08-30  CO-600  422119      Dee   06:05:00             07:30:00
9   2024-08-30  CO-600  422120      Dee   07:30:00             09:22:00
10  2024-08-30  CO-600  422121   Dennis   09:22:00             10:37:00
11  2024-08-30  CO-600  422122   Dennis   10:37:00             12:02:00
12  2024-08-30  CO-600  422123   Dennis   12:02:00             14:15:00
13  2024-08-30  CO-600  422124   Dennis   14:15:00             15:55:00
14  2024-08-30  CO-600  422125  Charlie   15:55:00             17:15:00
15  2024-08-30  CO-600  422126  Charlie   17:15:00             18:59:00
16  2024-08-30  CO-600  422127  Charlie   18:59:00             20:22:00
17  2024-08-30  CO-600  422128  Charlie   20:22:00             22:14:00
18  2024-08-30  CO-600  422129  Charlie   22:14:00             23:29:00
19  2024-08-31  CO-600  422130      Dee   07:45:00             09:05:00
20  2024-08-31  CO-600  422131      Dee   09:05:00             10:35:00
21  2024-08-31  CO-600  422132      Dee   10:35:00             11:35:00
22  2024-08-31  DC-600  422133      Dee   11:35:00             12:55:00
23  2024-08-31  DC-600  422134      Mac   12:55:00             14:45:00
24  2024-08-31  DC-600  422135      Mac   14:45:00             16:30:00
25  2024-08-31  DC-600  422136      Mac   16:30:00             17:30:00
26  2024-09-02   CO-2L  422144   Dennis   12:18:00             14:50:00
27  2024-09-02   CO-2L  422145  Charlie   14:50:00             16:50:00
28  2024-09-02   CO-2L  422146  Charlie   16:50:00             19:30:00
29  2024-09-02   CO-2L  422147  Charlie   19:30:00             22:55:00
30  2024-09-03   CO-2L  422148      Mac   22:55:00  1900-01-01 01:05:00

In [34]:
# products 
products = pd.read_csv('datasets/machine_downtime/products.csv', sep='|')
products

  Product      Flavor    Size  Min batch time
0  OR-600      Orange  600 ml              60
1  LE-600  Lemon lime  600 ml              60
2  CO-600        Cola  600 ml              60
3  DC-600   Diet Cola  600 ml              60
4   CO-2L        Cola     2 L              98

In [36]:
# meta data
meta_data = pd.read_csv('datasets/machine_downtime/metadata.csv', sep=',')
meta_data.head()

,Table,Field,Description
0,Line productivity,NaN,Fact table containing details for each batch p...
1,Line productivity,Date,Date the batch was produced
2,Line productivity,Product,ID for the product produced in the batch
3,Line productivity,Batch,Unique ID for the batch produced
4,Line productivity,Operator,Production line operator in charge of the batch

### **Preprocessing**

Transform line_downtime and merge / concatenate it with factors and line_productivity

In [83]:
index = []
for i in line_downtime.drop('Batch', axis=1, inplace=True).columns:
    # print(i.split(' '))
    print(i.split(' '))

AttributeError: 'NoneType' object has no attribute 'columns'

In [42]:
pd.pivot_table(line_downtime, index=['line_id'], values=range(13), aggfunc='sum').head(10)

KeyError: 0